<!-- table marks -->
<table class="table table-hover" id="tableMarks">
	<thead>
		<tr>
			<th class="col-md-1" th:text="#{Oferta.list.campo1}">titulo</th>
			<th th:text="#{Oferta.list.campo2}">detalle</th>
			<th th:text="#{Oferta.list.campo3}">precio</th>
			<th class="col-md-1"></th>
			<th class="col-md-1"></th>
			<th class="col-md-1"></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="of : ${markList}">
			<td th:text="${of.titulo}">titulo</td>
			<td th:text="${of.detalle}">detalle</td>
			<td th:text="${of.precio}">100</td>
			<td><a th:href="${'/oferta/details/' + of.id}"
				th:text="#{Detalles}">detalles</a></td>
			<td>
				<div th:if="${!of.vendido}">
					<button type="button" th:id="${'comprarButton' + of.id}"
						class="btn btn-info">Comprar</button>
					<script th:inline="javascript">
						/*<![CDATA[*/
						$("#comprarButton[[${of.id}]]")
								.click(
										function() {
											$
													.get(
															"/oferta/[[${of.id}]]/vendido",
															function(data) {
																$("#tableMarks")
																		.load(
																				'/oferta/listComprar/update');
															});
											var money = '${session.activeUser.money}';
											var price = '${of.precio}'
											if (money < precio) {
												const div = document
														.createElement("div");
												div.textContent = "No tienes suficiente dinero.";
												const app = document
														.createElement("div");
												app.id = "app";
												app.appendChild(div);
											}
										}

								);
						/*]]>*/
					</script>
				</div>
				<div th:unless="${!of.vendido}">
					<button type="button" th:id="${'comprarButton' + of.id}"
						class="btn btn-default">Vendida</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>